body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #faf0e6;
  color: #333;
}

header {
  background-color: #1e3958;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

h1,
h2 {
  margin: 0;
}

h1 {
  order: -1;
}

.btns-left {
  margin-top: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section {
  margin: 20px 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 25%;
}

h3 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.skill-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  transform: scale(0.7); /* Reduz o tamanho das imagens em 30% */
}

.skill-images li {
  flex: 0 0 33.33%;
  padding: 5px;
  box-sizing: border-box;
}

.skill-image {
  width: 100%;
  height: auto;
}

.btn-header {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.btn-header:hover {
  background-color: #333;
  color: #fff;
}

.btn-icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.collapsible-content {
  display: none;
}

.collapsible-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #1e3958;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.collapsible-header:hover {
  background-color: #333;
}

.collapsible-content.collapsed {
  display: none;
}

.collapsible-header strong {
  display: inline-block;
}

.collapsible-header .show-more {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  section {
    margin-right: 20px;
  }
}

.menu-content {
  display: none;
}

.menu-content.active {
  display: flex;
  flex-direction: column;
}

#menu-btn {
  align-self: flex-end;
}

.show-more {
  margin-left: 5px;
  color: #666;
  font-size: 14px;
}

.show-more {
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.hidden {
  display: none;
}
